.actual-tasks {

  .task {
    background-color: var(--main-color);
    &:hover {
      background-color: #0385aa;
    }
  }

  &__new-task {
    padding: 0 10px;

    border: 1px solid var(--dark-color);
    border-radius: 5px;

    &:focus {
      outline: none;
      box-shadow: 0 0 8px 2px var(--main-color);
    }
  }

  &__handlers {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
}